<div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5 form-group left-label">
            <label for="name">Name</label>
            <div>
                <input type="text" id="name" class="form-control">
            </div>
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <div>
                <input type="number" id="amount" class="form-control">
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="spacebutton">
            <button class="btn add" type="submit">Add </button> &nbsp;
            <button class="btn delete" type="button">Delete </button> &nbsp;
            <button class="btn edit" type="button">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  